<svg width="480" height="133" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <foreignObject width="480" height="133">
        <div xmlns="http://www.w3.org/1999/xhtml" class="container">
            <style>
                div {
                    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
                }
                
                .main {
                    display: flex;
                }
                
                .container {
                    border-radius: 5px;
                    padding: 10px 10px 10px 0px;
                }

                .art {
                    float: left;
                    width: 27%;
                    margin-left: -5px;
                }

                .content {
                    width: 71%;
                }

                .status {
                    font-size: 28px;
                    color: #4d4d4d;
                    text-align: center;
                    margin-top: 3px;
                    white-space:nowrap;
                    overflow:hidden;
                    text-overflow:ellipsis;
                }
                
                .song {
                    font-size: 24px;
                    color: #666;
                    text-align: center;
                    margin-top: 3px;
                    white-space:nowrap;
                    overflow:hidden;
                    text-overflow:ellipsis;
                }

                .artist {
                    font-size: 20px;
                    color: #b3b3b3;
                    text-align: center;
                    margin-bottom: 5px;
                    margin-top: 4px;
                }

                .cover {
                    border-radius: 5px;
                    height: 100px;
                    width: 100px;
                }
            </style>
            
             <div class="main">
                <a class="art" href="{}" target="_BLANK">
                    <center>
                        <img src="data:image/png;base64, {{image}}" class="cover" />
                    </center>
                </a>

                <div class="content">
                    <div class="status"><b>{{status}}</b></div>
                    <div class="song">{{songName}}</div>
                    <div class="artist">by {{artistName}}</div>
                </div>
            </div>
            
        </div>
    </foreignObject>
</svg>
