{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"env": {
		"browser": true
	},
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 12,
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"plugins": [
		"react",
		"@typescript-eslint"
	],
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"rules": {
		"quotes": [
			"error",
			"double"
		],
		"indent": [
			"error",
			"tab"
		],
		"semi": "error",
		"no-trailing-spaces": "error",
		"react/react-in-jsx-scope": "off"
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	}
}