name: Wakapi

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  update:
    name: Update
    runs-on: ubuntu-latest

    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.API_KEY }}
          API_BASE_URL: ${{ secrets.API_URL }}
          COMMIT_MESSAGE: "chore: update stats"
          BLOCKS: -#
          TIME_RANGE: last_30_days
          IGNORED_LANGUAGES: Unknown
          SHOW_TITLE: true
          LANG_COUNT: 6
          CODE_LANG: plain
